.header {
    width: 100%;
}

.header-container {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    position: relative;
    justify-content: end;
    z-index: 1;

}

.header-slider {
    height: auto;
    min-height: 500px;
    width: 100%;
    position: relative;
}

.Swiper-container {
    height: 900px !important;
    max-height: 100vh !important;
    width: 100% !important;
}

.header-slide {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../images/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-slide ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.slide-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../images/hero2.jpg);
}

.slide-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../images/hero3.jpg);
}

.header-slide .content {
    position: absolute;
    bottom: 18%;
    left: 10%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.header-slide .content small {
    color: #fff;

    font-size: 22px;
}

.header-slide .content h2 {
    color: #fff;
    font-size: 46px;

}

.header-slide .content span {
    color: #a75f38;
    font-size: 36px;
}

.header-slide ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bars {
    border: none;
    background-color: #94511d;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    box-shadow: 2px 2px 3px #ffffff94, inset 3px 3px 10px #ffffff94;
    cursor: pointer;
    transition: 1s;
    display: none;
}


@media screen and (max-width: 768px) {
    .header-slide .content {
        bottom: 14%;
    }


    .header-slide .content h2 {
        font-size: 30px;
    }

}


@media screen and (max-width: 900px) {
    .header-slide .content {
        bottom: 10%;
    }

    .header-slide .content h2 {
        font-size: 28px;
    }

    .header-slide .content small {
        font-size: 18px;
    }

    .header-slide .content p {
        font-size: 16px;
    }

}

@media screen and (max-width: 900px) {
    .header-slide .content {
        bottom: 10%;
    }

    .header-slide .content h2 {
        font-size: 28px;
    }

    .header-slide .content small {
        font-size: 18px;
    }

    .header-slide .content p {
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {
    .header-slide .content h2 {
        font-size: 25px;
    }

    .header-slide .content small {
        font-size: 14px;
    }

    .header-slide .content p {
        font-size: 18px;
    }


}