@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Playfair Display';
}

button {
  height: 38px;
  width: 130px;
  border: 1px solid #fff;
  background-color: #925b32;
  font-family: 'Playfair';
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  box-shadow: 2px 2px 3px #ffffff94, inset 3px 3px 10px #ffffff94;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  box-shadow: 0px 0px 0px #ffffff94, inset 3px 3px 10px #ffffff94;
  transform: scale(0.9);
}

.section {
  padding: 90px 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  font-size: 36px;
  color: #1e1e1e;
}

.section-title span {
  color: #94511d;
}

.section-heading {
  font-size: 18px;
  color: #1e1e1e;

}